[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/hops"]
	path = extern/hops
	url = git@jugit.fz-juelich.de:fluxomics/hops.git
[submodule "extern/eigen3"]
	path = extern/eigen3
	url = https://gitlab.com/libeigen/eigen.git
