include README.md LICENSE extern/pybind11/LICENSE .version .commit CMakeLists.txt
recursive-include extern *.cpp *.hpp *.h *.c *.txt
graft src
graft extern/hops/
prune extern/hops/docs
prune extern/hops/resources
prune extern/hops/tests
graft extern/pybind11/
graft extern/eigen3
prune extern/eigen3/test
prune extern/eigen3/demos
prune examples
prune build
prune dist
prune tests
prune docs
prune test-venv
